/******************************************************
	
	Glassero Par Patrick Roux : http://www.kicoe.net
	One Page Responsive HTML Template
	
	Sections of stylesheet:
		$INDEX0 - FONTS AND RESET
		$INDEX1 - GENERAL
		$INDEX2 - HEADER COMMON
		$INDEX3 - MENU COMMON
		$INDEX4 - HEADER STANDARD
		$INDEX5 - HEADER STANDARD REDUIT
		$INDEX6 - HEADER MOBILE
		$INDEX7 - MAIN CONTENT
		$INDEX8 - PORTFOLIO
		$INDEX9 - THE TEAM
		$INDEX10 - CONTACT
		$INDEX11 - MEDIA QUERIES : TABLETS
		$INDEX12 - MEDIA QUERIES : SMARTPHONES
		
******************************************************/	







/******************************************************

	$INDEX0 - FONTS AND RESET
	
******************************************************/	





/******************************************************

	$INDEX1 - GENERAL
	
******************************************************/	
p {
	/*display: inline-block;*/
}

#main {
	padding: 0 15% 0 15%;
}


/******************************************************

	$INDEX2 - HEADER COMMON
	
******************************************************/	








/******************************************************

	$INDEX3 - MENU COMMON
	
******************************************************/	





	

/******************************************************

	$INDEX4 - HEADER STANDARD
	
******************************************************/	




		
		


	
	

/******************************************************

	$INDEX5 - HEADER STANDARD REDUIT
	
******************************************************/	








/******************************************************

	$INDEX6 - HEADER MOBILE
	
******************************************************/	






	
	
	
/******************************************************

	$INDEX7 - MAIN CONTENT
	
******************************************************/	


#main section{
    padding: 110px 4% 20px 4%;
	margin: 55% 0px;
}

#main section:first-child{
	margin-top: 0px;
    padding: 250px 20px 20px 20px;
}

#main section:last-child{
	margin-bottom: 100%;
}





/******************************************************

	$INDEX8 - CASE STUDIES
	
******************************************************/	

#section_casestudies ul {
	list-style: none;
}

#section_casestudies li {
	background: white;
	height: 200px;
	margin: 2em 0 2em 0;
	padding: 1em 0 1em 0;

	border-radius : 8px;
    box-shadow: 5px 5px 10px #888888;
 }

#section_casestudies li:hover {
	cursor : pointer;

    box-shadow: 0px 0px 10px #888888;
    border : 0px solid #888888;

}

#section_casestudies .casestudy-image {
	float : left;

	height: auto;
	width: 22%;
	margin-right: 5%;
}


#section_casestudies li .casestudy-text {
	color: black;
	white-space: initial;
	word-wrap: break-word;
	padding: 0.5em 2em 0.5em 3em;
}

#section_casestudies li .casestudy-title{
	border-bottom: none;
	font-size : 2.2em;
}

#section_casestudies li .text-part .casestudy-description{
	width: 100%;
	color: black;
	border-bottom: none;
		word-wrap: break-word;
		white-space: initial;

	font-size : 1.5em;
}




/******************************************************

	$INDEX9 - THE TEAM
	
******************************************************/	






/******************************************************

	$INDEX10 - CONTACT
	
******************************************************/	





/******************************************************

	$INDEX10 - CONTACT
	
******************************************************/	
#main section.contact .section-content{
	padding-left: 0;
	padding-right: 0;
}

.bio-photo {
	max-height: 500px;
	max-width: 500px;
	border-radius : 50%;
    /*box-shadow: 5px 5px 5px black;*/
}

.contact_info {
	margin : 3% 3% 0 3%;
}

.contact_info-main p {
	/*font-size: 1.8em;
	line-height: 1.1em;*/
	text-align : left;
}



.contact_info-social {
	margin-top : 40px;
}

.contact_info-social p {
	font-size: 1.5em;
}




.social_button {
	margin : 0 15px 0 15px;
}

.social_button, .button-facebook, .button-twitter, .button-github, .button-instagram {
	width: 50px;
	height: 50px;
	background-size: contain;
	display: inline-block;
	text-align: center;
	color : darkblue;
}

.button-facebook {
	background-image: url("../images/facebook_off.png");
}

.button-twitter {
	background-image: url("../images/twitter_off.png");
}

.button-instagram {
	background-image: url("../images/instagram_off.png");
}

.button-github {
	background-image: url("../images/github_off.png");
}

.social_button:hover {
	color : white;
}


.social_button:hover .button-facebook{
	background-image: url("../images/facebook_on.png");
}

.social_button:hover .button-twitter {
	background-image: url("../images/twitter_on.png");
}

.social_button:hover .button-instagram {
	background-image: url("../images/instagram_on.png");
}

.social_button:hover .button-github {
	background-image: url("../images/github_on.png");
}




#a-propos p {
	text-indent: 30px;;
}













/******************************************************

	$INDEX11 - MEDIA QUERIES : TABLETS
	
******************************************************/	




/* TABLETS */
@media screen and (max-width: 1020px ) {
     
 

}






/******************************************************

	$INDEX12 - MEDIA QUERIES : SMARTPHONES
	
******************************************************/	






/* SMARTPHONES */
@media screen and (max-width: 767px ) {
    
}

