/******************************************************
	
	Glassero Par Patrick Roux : http://www.kicoe.net
	One Page Responsive HTML Template
	
	Sections of stylesheet:
		$INDEX0 - FONTS AND RESET
		$INDEX1 - GENERAL
		$INDEX2 - HEADER COMMON
		$INDEX3 - MENU COMMON
		$INDEX4 - HEADER STANDARD
		$INDEX5 - HEADER STANDARD REDUIT
		$INDEX6 - HEADER MOBILE
		$INDEX7 - MAIN CONTENT
		$INDEX8 - PORTFOLIO
		$INDEX9 - THE TEAM
		$INDEX10 - CONTACT
		$INDEX11 - MEDIA QUERIES : TABLETS
		$INDEX12 - MEDIA QUERIES : SMARTPHONES
		
******************************************************/	







/******************************************************

	$INDEX0 - FONTS AND RESET
	
******************************************************/	





/******************************************************

	$INDEX1 - GENERAL
	
******************************************************/	
p, li {
	/*display: inline-block;*/
}


 #main section:first-child {
 	padding-top: 10%;
}

h1 {
	font-size : 3.5em;
	text-align: left;
	margin : 0 0 0.1em 0;
}


h2 {
	margin : 0 0 1.1em 0;
}

h3 {
	font-size : 1.8em;
}

hr {
	margin-bottom: 7em;
}


#fill_up_section {
	padding: 20px;
}

#container {
	padding-bottom: 33%;
}

/******************************************************

	$INDEX2 - HOME
	
******************************************************/	
#hello_h1 {
	font-size : 3.5em !important;
}

#bonjour {
	font-size: 1.6em;
	line-height: 1.8em;
}




/******************************************************

	$INDEX2 - HEADER COMMON
	
******************************************************/	








/******************************************************

	$INDEX3 - MENU COMMON
	
******************************************************/	





	

/******************************************************

	$INDEX4 - HEADER STANDARD
	
******************************************************/	



.mini-icon {
	width: 50px;
	height: 50px;
	margin: 1em 1em 0 0;
	float : left;
}
		
		


	
	

/******************************************************

	$INDEX5 - HEADER STANDARD REDUIT
	
******************************************************/	








/******************************************************

	$INDEX6 - HEADER MOBILE
	
******************************************************/	


header.headermobile h1 {

    font-weight: 300;
    text-align: center;
    font-size: 1.8em;
    margin-top: 10px;
    padding: 3px 0 10px 10px;

}



	
	
	
/******************************************************

	$INDEX7 - MAIN CONTENT
	
******************************************************/	


#main section{
    padding: 110px 4% 20px 4%;
	margin: 30% 0px 5% 0px; 
}

#main section:first-child{
	margin-top: 0px;
    padding: 250px 20px 20px 20px;
}

#main section:last-child{
	margin-bottom: 5%;
}





/******************************************************

	$INDEX8 - CASE STUDIES
	
******************************************************/	

#casestudies ul {
	list-style: none;
	margin : 0;
}

#casestudies li {
	background: white;
	margin: 2em 0 2em 0;
	padding: 1.5em 3em 0.5em 3em;
	border-radius : 8px;
    box-shadow: 5px 5px 10px #888888;
 }

#casestudies li:hover {
	cursor : pointer;
	background-color : #e3eded;
    box-shadow: 0px 0px 10px #888888;
    border : 0px solid #888888;

}

#casestudies li .casestudy-text {
	color: black;
	/*padding: 0.5em 3em 1em 3em;*/
}

#casestudies li .casestudy-title{
	border-bottom: none;
	font-size : 2.6em;
}

#casestudies li  p.casestudy-description{
	font-size : 1.5em;
	width: 100%;
	color: black;
	border-bottom: none;
	word-wrap: break-word;
	white-space: initial;
}






/******************************************************

	$INDEX9 - ABOUT
	
******************************************************/	

#about p {
	text-align: justify;
	text-indent : 4%;
}


#about p.about_main {
	font-size : 1.4em;
	text-indent: 0;
	margin : 3em 0 5em 0;
}

.bio-photo {
	max-height: 500px;
	max-width: 500px;
	margin : 0 0 2% -15%; 
	border-radius : 50%;
	float : left;
    /*box-shadow: 5px 5px 5px black;*/
}

#about .resume {
	font-size : 1em;
	font-weight: bold;
	color : midnightblue !important;
}

#about {
	list-style: none;
}

#about li {
	font-size : 1.5em;
	margin : 0.8em 0 0.8em 0; 
}

#about .right li {
	text-align: justify;
}

#about .col50 h2 {
	text-align: left;
}

#about .punchline {
	font-weight: bold;
	color :#356884;
	margin : 0 0 1em 0;
	letter-spacing: 0.5px;
	line-height : 1.25em;
	text-align: left;
}

#about .minibio {
	text-indent : 5%;
}

#about blockquote{
	box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
	margin : 400px 15% .75em 15%;
	border-left: 0.5em solid #DDD
	background: white;
	font-size: 1em;
}

#about blockquote p {
	margin : 0.6em 1em 0.7em 1em;
	line-height: 1.3em;
	text-indent: 0;
	/*font-style: italic;*/
}

#about blockquote footer {
	float :right;
	font-size: 1.3em;
	font-style: italic;
}



/******************************************************

	$INDEX10 - CONTACT
	
******************************************************/	
#main section.contact .section-content{
	padding-left: 0;
	padding-right: 0;
	color : black;

}



.contact_info {
	margin : 3% 3% 0 3%;
	padding-top: 1.8em;
}

.contact_info-main p {
	text-align : left;
	color: #373c44;
	font-size : 1.8em;
}



.contact_info-social {
	margin-top : 40px;
}

.contact_info-social p {
	font-size: 1.5em;
	color: #373c44;
}




.social_button {
	margin : 0 5% 0 5%;
}

.social_button, .button-facebook, .button-twitter, .button-github, .button-instagram, .button-linkedin {
	width: 80px;
	height: 80px;
	background-size: contain;
	display: inline-block;
	text-align: center;
	color : darkblue;
}


.button-linkedin {
	background-image: url("../images/linkedin_off.png");
}

.button-twitter {
	background-image: url("../images/twitter_off.png");
}

.button-github {
	background-image: url("../images/github_off.png");
}


.social_button:hover {
	color : #0a81d1;
	font-weight: bold;
}

.social_button-name {
	font-size: 1.3em;
}

.social_button:hover .button-linkedin{
	background-image: url("../images/linkedin_on.png");
}

.social_button:hover .button-twitter {
	background-image: url("../images/twitter_on.png");
}

.social_button:hover .button-github {
	background-image: url("../images/github_on.png");
}






/******************************************************

	$INDEX11 - MEDIA QUERIES : TABLETS
	
******************************************************/	




/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1020px ) {
     

    .headerstandard h1 {
    	line-height: 10px;
    } 

    .headerstandard .headerstandard-inner {
    	padding-top: 30px;
    }

 	#main {
		padding : 0 15% 0 15%;
	}

	#main h1 {
		font-size : 2.3em;
	}

	#main section:first-child {
		padding-top: 200px;
	}

	#main section {
		padding-top: 200px;
	}

	#container {
		padding-bottom: 60%;
	}

	#bonjour {
		font-size: 2.5em;
		text-align: left;
	}

	#main h2 {
		margin-top: 1.5em; 
		font-weight: bold;
		font-size: 1.3em;
	}

	p {
		font-size: 1em;
	}

	#fill_up_section {
		display: none!important;
	}


	#main .home h1 {
		width: 100%;
		padding-top: 3.5em;
		font-size: 1.8em !important;
		line-height: 1.2em;
	}

	#main h1, #main hr {
		margin-left: -8%;
	}


	.bio-photo {
		max-width: 50%;
	}

	#about .punchline {
		font-size: 1.1em;
		letter-spacing: 0.01px;
		text-justify : none;
	}

	#about p.about_main {
		font-size: 1.2em;
		text-align: left;
		margin-bottom : 2em;
		margin-right: -2em;
	}

	#about ul {
		padding-left: 60px;
	}


    #about li {
    	font-size : 1.1em;
    }

	.contact_info-main p {
		font-size : 1.3em;
	}

	.contact_info-social {
		text-align: center;
	}

	.social_button, .button-twitter, .button-github, .button-linkedin {
		width: 60px;
		height: 60px;
	}

	.social_button-name {
		font-size: 1em;
	}

}






/******************************************************

	$INDEX12 - MEDIA QUERIES : SMARTPHONES
	
******************************************************/	






/* SMARTPHONES */
@media screen and (max-width: 767px ) {

     
 	#main {
		padding : 0 5% 0 5%;
	}

	#main section:first-child {
		padding : 0;
	}

	#main h2 {
		margin-top: 1.5em; 
		font-weight: bold;
		font-size: 1.3em;
	}

	p {
		font-size: 1em;
	}

	#fill_up_section {
		display: none!important;
	}


	#main .home h1 {
		width: 100%;
		padding-top: 3.5em;
		font-size: 1.8em !important;
		line-height: 1.2em;
	}


	.bio-photo {
		max-width: 100%;
		margin-bottom: 10px;
	}

	#about .punchline {
		line-height: 1.3em;
		font-size: 1.2em;
		letter-spacing: 0.01px;
		text-justify : none;
	}

	#about p.about_main {
		font-size: 1.15em;
		text-align: left;
		margin-bottom : 2em;
	}

	#about ul {
		padding-left: 30px;
	}


    #about li {
    	font-size : 1.1em;
    }

	.contact_info-main p {
		font-size : 1.3em;
	}

	.contact_info-social {
		text-align: center;
	}

	.social_button, .button-twitter, .button-github, .button-linkedin {
		width: 60px;
		height: 60px;
	}

	.social_button-name {
		font-size: 1em;
	}


	#casestudies ul {
		padding: 0;
	}

	#casestudies li .casestudy-title {
		font-size: 2em;
	}


	#casestudies li p.casestudy-description {
		font-size: 1.1em;
	}

}

