/******************************************************
	
	Glassero Par Patrick Roux : http://www.kicoe.net
	One Page Responsive HTML Template
	
	Sections of stylesheet:
		$INDEX0 - FONTS AND RESET
		$INDEX1 - GENERAL
		$INDEX2 - HEADER COMMON
		$INDEX3 - MENU COMMON
		$INDEX4 - HEADER STANDARD
		$INDEX5 - HEADER STANDARD REDUIT
		$INDEX6 - HEADER MOBILE
		$INDEX7 - MAIN CONTENT
		$INDEX8 - PORTFOLIO
		$INDEX9 - THE TEAM
		$INDEX10 - CONTACT
		$INDEX11 - MEDIA QUERIES : TABLETS
		$INDEX12 - MEDIA QUERIES : SMARTPHONES
		
******************************************************/	







/******************************************************

	$INDEX0 - FONTS AND RESET
	
******************************************************/	





/******************************************************

	$INDEX1 - GENERAL
	
******************************************************/	
p {
	display: inline-block;
}


/******************************************************

	$INDEX2 - HEADER COMMON
	
******************************************************/	








/******************************************************

	$INDEX3 - MENU COMMON
	
******************************************************/	





	

/******************************************************

	$INDEX4 - HEADER STANDARD
	
******************************************************/	




		
		


	
	

/******************************************************

	$INDEX5 - HEADER STANDARD REDUIT
	
******************************************************/	








/******************************************************

	$INDEX6 - HEADER MOBILE
	
******************************************************/	






	
	
	
/******************************************************

	$INDEX7 - MAIN CONTENT
	
******************************************************/	


#main section{
    padding: 110px 4% 20px 4%;
	margin: 55% 0px;
}

#main section:first-child{
	margin-top: 0px;
    padding: 250px 20px 20px 20px;
}

#main section:last-child{
	margin-bottom: 100%;
}





/******************************************************

	$INDEX8 - PORTFOLIO
	
******************************************************/	




/******************************************************

	$INDEX9 - THE TEAM
	
******************************************************/	






/******************************************************

	$INDEX10 - CONTACT
	
******************************************************/	










/******************************************************

	$INDEX11 - MEDIA QUERIES : TABLETS
	
******************************************************/	




/* TABLETS */
@media screen and (max-width: 1020px ) {
     
 

}






/******************************************************

	$INDEX12 - MEDIA QUERIES : SMARTPHONES
	
******************************************************/	






/* SMARTPHONES */
@media screen and (max-width: 767px ) {
    
}

