/******************************************************
	
	Glassero Par Patrick Roux : http://www.kicoe.net
	One Page Responsive HTML Template
	
	Sections of stylesheet:
		$INDEX0 - FONTS AND RESET
		$INDEX1 - GENERAL
		$INDEX2 - HEADER COMMON
		$INDEX3 - MENU COMMON
		$INDEX4 - HEADER STANDARD
		$INDEX5 - HEADER STANDARD REDUIT
		$INDEX6 - HEADER MOBILE
		$INDEX7 - MAIN CONTENT
		$INDEX8 - PORTFOLIO
		$INDEX9 - THE TEAM
		$INDEX10 - CONTACT
		$INDEX11 - MEDIA QUERIES : TABLETS
		$INDEX12 - MEDIA QUERIES : SMARTPHONES
		
******************************************************/	







/******************************************************

	$INDEX0 - FONTS AND RESET
	
******************************************************/	





/******************************************************

	$INDEX1 - GENERAL
	
******************************************************/	
p, li {
	/*display: inline-block;*/
}

#main {
	padding: 0 22% 0 22%;
}

 #main section:first-child {
 	padding-top: 10%;
}

h1 {
	text-align: left;
	margin : 0 0 0.1em 0;
}


h2 {
	margin : 0 0 1.1em 0;
}

h3 {
	font-size : 1.8em;
}

hr {
	margin-bottom: 7em;
}




/******************************************************

	$INDEX2 - HOME
	
******************************************************/	
#hello_h1 {
	font-size : 3.5em !important;
}

#bonjour {
	font-size: 1.6em;
	line-height: 1.8em;
}




/******************************************************

	$INDEX2 - HEADER COMMON
	
******************************************************/	








/******************************************************

	$INDEX3 - MENU COMMON
	
******************************************************/	





	

/******************************************************

	$INDEX4 - HEADER STANDARD
	
******************************************************/	



.mini-icon {
	width: 50px;
	height: 50px;
	margin: 0 1em 0 0;
}
		
		


	
	

/******************************************************

	$INDEX5 - HEADER STANDARD REDUIT
	
******************************************************/	








/******************************************************

	$INDEX6 - HEADER MOBILE
	
******************************************************/	






	
	
	
/******************************************************

	$INDEX7 - MAIN CONTENT
	
******************************************************/	


#main section{
    padding: 110px 4% 20px 4%;
	margin: 30% 0px 30% 0px; 
}

#main section:first-child{
	margin-top: 0px;
    padding: 250px 20px 20px 20px;
}

#main section:last-child{
	margin-bottom: 100%;
}





/******************************************************

	$INDEX8 - CASE STUDIES
	
******************************************************/	

#casestudies ul {
	list-style: none;
	margin : 0;
}

#casestudies li {
	background: white;
	height: 200px;
	margin: 2em 0 2em 0;
	padding: 1em 3em 1em 0;

	border-radius : 8px;
    box-shadow: 5px 5px 10px #888888;
 }

#casestudies li:hover {
	cursor : pointer;

	background-color : #e3eded;

    box-shadow: 0px 0px 10px #888888;
    border : 0px solid #888888;

}

#casestudies .casestudy-image {
	float : left;

	height: auto;
	width: 22%;
	margin-right: 5%;
}


#casestudies li .casestudy-text {
	color: black;
	white-space: initial;
	word-wrap: break-word;
	padding: 0.5em 2em 0.5em 3em;
}

#casestudies li .casestudy-title{
	border-bottom: none;
	font-size : 2.6em;
}

#casestudies li  p.casestudy-description{
	font-size : 1.5em;
	width: 100%;
	color: black;
	border-bottom: none;
	word-wrap: break-word;
	white-space: initial;
}






/******************************************************

	$INDEX9 - ABOUT
	
******************************************************/	

#about p {
	text-align: justify;
	text-indent : 4%;
}


#about p.about_main {
	text-indent: 0;
	margin : 3em 0 5em 0;
}

.bio-photo {
	max-height: 500px;
	max-width: 500px;
	margin : 0 0 2% -5%; 
	border-radius : 50%;
	float : left;
    /*box-shadow: 5px 5px 5px black;*/
}

#about .resume {
	font-size : 1em;
	font-weight: bold;
}

#about {
	list-style: none;
}

#about li {
	font-size : 1.5em;
	margin : 0.8em 0 0.8em 0; 
}

#about .right li {
	text-align: justify;
}

#about .col50 h2 {
	text-align: left;
}

#about .punchline {
	font-weight: bold;
	color : midnightblue;
	margin : 0 0 1em 0;
	letter-spacing: 0.5px;
	line-height : 1.2em;
	text-align: left;
}

#about .minibio {
	text-indent : 5%;
}

#about blockquote{
	box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
	margin : 400px 15% .75em 15%;
	border-left: 0.5em solid #DDD
	background: white;
	font-size: 1em;
}

#about blockquote p {
	margin : 0.6em 1em 0.7em 1em;
	line-height: 1.3em;
	text-indent: 0;
	/*font-style: italic;*/
}

#about blockquote footer {
	float :right;
	font-size: 1.3em;
	font-style: italic;
}



/******************************************************

	$INDEX10 - CONTACT
	
******************************************************/	
#main section.contact .section-content{
	padding-left: 0;
	padding-right: 0;
	color : black;

}



.contact_info {
	margin : 3% 3% 0 3%;
	padding-top: 1.8em;
}

.contact_info-main p {
	/*font-size: 1.8em;
	line-height: 1.1em;*/
	text-align : left;
	color: #373c44;
	font-size : 1.8em;
}



.contact_info-social {
	margin-top : 40px;
}

.contact_info-social p {
	font-size: 1.5em;
	color: #373c44;
}




.social_button {
	margin : 0 5% 0 5%;
}

.social_button, .button-facebook, .button-twitter, .button-github, .button-instagram {
	width: 80px;
	height: 80px;
	background-size: contain;
	display: inline-block;
	text-align: center;
	color : darkblue;
}


.button-twitter {
	background-image: url("../images/twitter_off.png");
}

.button-github {
	background-image: url("../images/github_off.png");
}

.social_button:hover {
	color : #0a81d1;
	font-weight: bold;
}

.social_button-name {
	font-size: 1.3em;
}

.social_button:hover .button-facebook{
	background-image: url("../images/facebook_on.png");
}

.social_button:hover .button-twitter {
	background-image: url("../images/twitter_on.png");
}

.social_button:hover .button-instagram {
	background-image: url("../images/instagram_on.png");
}

.social_button:hover .button-github {
	background-image: url("../images/github_on.png");
}






/******************************************************

	$INDEX11 - MEDIA QUERIES : TABLETS
	
******************************************************/	




/* TABLETS */
@media screen and (max-width: 1020px ) {
     
 

}






/******************************************************

	$INDEX12 - MEDIA QUERIES : SMARTPHONES
	
******************************************************/	






/* SMARTPHONES */
@media screen and (max-width: 767px ) {
    
}

