#main section {
	min-height: 700px;
    padding: 50px 8% 20px 8%;
	margin: 8% 0px;
}

#main section .section-content {
	padding-left : 5%;
	padding-right: 5%;
}

#main section.contact .section-content{
	padding-left: 0;
	padding-right: 0;
}

#main section:first-child{
	margin-top: 0px;
    padding : 150px 20px 200px 20px
}

#main section:last-child{
	margin-bottom: 15%;
}

#filter {
	font-size : 1.15em;
	margin-bottom: 50px;
}

#filter .title{
	font-size : 1.2em;
}

h3 {
	font-size: 1.7em;
}

/*.project-thumbnail {
	object-fit: cover;
	width : 280px;
	height: 200px;
}*/

.isotope-item {
	width: 560px;
	height: 420px;
	padding: 30px;
}

.project-thumbnail {
	object-fit: cover;
	width : 400px;
	height: 285px;
}


.contact_info-social p {
	font-size: 1.5em;
}



.social_button-name {
	font-size: 1.1em;
}



h2 {
	margin-bottom : 60px;
}


/* TABLETS */

@media screen and (max-width: 1020px ) {
     
	#main section:first-child{
		padding: 250px 20px 20px 20px;
	}


#main section, body {
	background-color :#f4f4f4;
}

#main section:last-child {
	margin-bottom: 0;
}

		
}






/* PORTFOLIO */

.isotope-item {
	border-radius : 5px;
}

.isotope-item:hover {
	background: white;
	color : black ;
	/*font-weight: 600;*/
}

.isotope-item:hover h3 {
	/*font-weight: 600;*/
}




/* SMARTPHONE */

@media screen and (max-width: 1020px ) {
     


	#main section{
		margin: 150px 0px;
		display: block;
		padding-top: 80px;
	}
	
	#main section:first-child{
		margin-top: 0px;
		padding-top : 50px;
	}

	#main section:last-child{
		margin-bottom: 100%;
	}		

		
}


.headerstandard {
    height: 90px;
}
 
.headerstandard h1,
.headerstandard nav.menustandard a {
    line-height: 90px;
}
 
.headerstandard h1 {
    font-size: 2em;
}




/******************************************************

	$INDEX10 - CONTACT
	
******************************************************/	


.bio-photo {
	max-height: 500px;
	max-width: 500px;
	border-radius : 50%;
    /*box-shadow: 5px 5px 5px black;*/
}

.contact_info {
	margin : 3% 3% 0 3%;
}

.contact_info-main p {
	/*font-size: 1.8em;
	line-height: 1.1em;*/
	text-align : left;
}



.contact_info-social {
	margin-top : 40px;
}

.social_button {
	margin : 0 15px 0 15px;
}

.social_button, .button-facebook, .button-twitter, .button-github, .button-instagram {
	width: 50px;
	height: 50px;
	background-size: contain;
	display: inline-block;
	text-align: center;
	color : darkblue;
}

.button-facebook {
	background-image: url("../images/facebook_off.png");
}

.button-twitter {
	background-image: url("../images/twitter_off.png");
}

.button-instagram {
	background-image: url("../images/instagram_off.png");
}

.button-github {
	background-image: url("../images/github_off.png");
}

.social_button:hover {
	color : white;
}


.social_button:hover .button-facebook{
	background-image: url("../images/facebook_on.png");
}

.social_button:hover .button-twitter {
	background-image: url("../images/twitter_on.png");
}

.social_button:hover .button-instagram {
	background-image: url("../images/instagram_on.png");
}

.social_button:hover .button-github {
	background-image: url("../images/github_on.png");
}




#a-propos p {
	text-indent: 30px;;
}








/******************************************************

	$INDEX4 - HEADER STANDARD
	
******************************************************/	




.headerstandard {
    height: 90px;
}


		.headerstandard .headerstandard-inner {
			width: 90%;
			max-width: 69em;
			margin: 0 auto;
			padding: 0 1.875em;
		}


		 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
		.headerstandard h1,
		.headerstandard nav.menustandard a {
			line-height: 90px;
		}

		 .headerstandard h1 {
			letter-spacing: 4px;
			font-size: 2em;
			float: left;
		}

		 .headerstandard nav.menustandard{
			display: inline-block;
			position: relative;
			float: right;
		}

		.headerstandard nav.menustandard a {
			margin: 0 0 0 8px;
			font-size: 1.3em;
			font-weight: 300;
			padding: 8px 10px;
			
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}


		
		




