/******************************************************
	
	Base on Glassero Patrick Roux : http://www.kicoe.net
	One Page Responsive HTML Template
	
	Sections of stylesheet:
		$INDEX0 - FONTS AND RESET
		$INDEX1 - GENERAL
		$INDEX2 - HEADER COMMON
		$INDEX3 - MENU COMMON
		$INDEX4 - HEADER STANDARD
		$INDEX5 - HEADER STANDARD REDUIT
		$INDEX6 - HEADER MOBILE
		$INDEX7 - MAIN CONTENT
		$INDEX8 - PORTFOLIO
		$INDEX9 - THE TEAM
		$INDEX10 - CONTACT
		$INDEX11 - MEDIA QUERIES : TABLETS
		$INDEX12 - MEDIA QUERIES : SMARTPHONES
		
******************************************************/	







/******************************************************

	$INDEX0 - FONTS AND RESET
	
******************************************************/	



@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}



/******************************************************

	$INDEX1 - GENERAL
	
******************************************************/	



body {
    font-family: Calibri, Arial, sans-serif;
	font-weight: 300;

    -moz-transition: background-color 1s ease-in;
    -webkit-transition: background-color 1s ease-in;
    -o-transition: background-color 1s ease-in;
    -ms-transition: background-color 1s ease-in;
    transition: background-color 1s ease-in;
}


::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}

a {
	text-decoration: none;
}

a:hover {}

#container {
	position: relative;
	padding-bottom: 5%;
	
}

p {
   font-size : 1.6em;
}


header h1 {
	color : white;
}

h1{
	font-family: 'Candara', 'Crimson Text', Calibri, Arial, sans-serif;
	font-weight: 300;
    font-size: 5em;
	text-align: center;
	margin: 0px 0px;
}

.h1-subheader {
	display: block;
	text-align: center;
	font-family: Calibri, Arial, sans-serif;
	font-weight: 300;
    font-size: 2em;
	margin: 0 0 4% 0;
}

h2{
	font-family: 'Candara', 'Crimson Text', Calibri, Arial, sans-serif;
	font-weight: 300;
	font-size: 2.7em;
	text-align: left;

    border-bottom-color: currentcolor;
}

.h2-subheader {
	display: block;
	font-family: Calibri, Arial, sans-serif;
	font-weight: 300;
    font-size: 1.2em;
	margin: 0px 0px;
}

h3{
	font-family: 'Candara', 'Crimson Text', Calibri, Arial, sans-serif;
	font-weight: 300;
    font-size: 1.8em;
	text-align: left;
	margin: 0px 0px;
	border-bottom: 1px solid;
}

hr{
	border-top: 1px solid;
	border-bottom: 0px;
	margin: 20px auto 30px auto;
	width: 98%;
	
}



a.clickable-link {
	color : blue;
	font-size: 1em;
}

a.clickable-link:hover {
	text-decoration-line: underline;
}



.text-content {
	/*margin: 100px 300px 100px 300px;*/
	font-family: Calibri, Arial, sans-serif;
    margin: 0;
	float : center;
	font-weight: 300;
	text-align: justify;
}


.text-content p{
	font-size: 1.5em;
	/*line-height: 1.5em;*/
	/*display: inline-block;*/
	margin: 20px 0px 20px 0px;
	/*text-indent : 30px;*/
}


.display{
	display: block;
}

.hide{
	display: none;
}

.no-border{
	border: 0px;
}




/******************************************************

	$INDEX2 - HEADER COMMON
	
******************************************************/	



header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

header h1{
	font-family: 'Candara', 'Crimson Text', Calibri, Arial, sans-serif;
	font-weight: 300;
    margin: 0;
}

header h1, header nav a {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;	
}







/******************************************************

	$INDEX3 - MENU COMMON
	
******************************************************/	




nav a{}

nav a.current, nav a:hover{}





	

/******************************************************

	$INDEX4 - HEADER STANDARD
	
******************************************************/	




.headerstandard {
    height: 90px;
}


		.headerstandard .headerstandard-inner {
			width: 90%;
			max-width: 69em;
			margin: 0 auto;
			padding: 0 1.875em;
		}


		 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
		.headerstandard h1,
		.headerstandard nav.menustandard a {
			line-height: 90px;
		}

		 .headerstandard h1 {
			letter-spacing: 4px;
			font-size: 3em;
			float: left;
		}

		 .headerstandard nav.menustandard{
			display: inline-block;
			position: relative;
			float: right;
		}

		.headerstandard nav.menustandard a {
			margin: 0 0 0 8px;
			font-size: 1.3em;
			font-weight: 300;
			padding: 8px 10px;
			
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}


		
		










/******************************************************

	$INDEX6 - HEADER MOBILE
	
******************************************************/	




header.headermobile {
	position: fixed;
	top: 0px;
	display: block;
	width: 100%;
	height: auto;
	margin: 0px auto 20px auto;
	padding: 0px;
	z-index: 10000;
	display: none;
}

		header.headermobile h1 {
			font-weight: 300;
			text-align: center;
			font-size: 2em;
			margin-top: 10px;
		}

		header.headermobile button {
			position: absolute;
			float: left;
			display: block;
			width: 40px;
			height: 40px;
			border: none;
			cursor: pointer;
			margin: 10px 10px 0px 10px;
		}


				.menumobile a {
					display: block;
					text-transform: uppercase;
					font-size: 1.2em;
					font-weight: 300;
					width: 100%;
					text-align: center;
					
				}

				/* Orientation-dependent styles for the content of the menu */

				.menumobile {
					width: 240px;
					height: 100%;
					top: 0;
					z-index: 10000;
				}

				.menumobile a {
					padding: 1em;
				}





	
	
	
/******************************************************

	$INDEX7 - MAIN CONTENT
	
******************************************************/	



#main{
	-webkit-transition: background 2s ease;
	-moz-transition: background 2s ease;
	transition: background 2s ease;
}

html, body,
#container,
#main {
	min-height: 700px;
}



.mobile{
	display: none;
}


#main .home h1{
	font-weight: 300;
	text-align: center;
}

#main .home h1{
	font-size: 5em;
	font-family: 'Candara', 'Crimson Text', Calibri, Arial, sans-serif;
	display: block;
	width: 100%;
	/*padding-top: 245px;*/
	line-height: 0.8em;
	/*height: 350px;*/
	margin: 20px auto;
	/*background: transparent url('../images/logo.png') center center no-repeat;*/
}

#main .home h2{
	margin-top: -140px;
    font-family: Calibri, Arial, sans-serif;
	font-size: 3em;
}

.quote{
	background: rgba(7, 43, 50, 0.6) url('../images/quote.png') 15px 15px no-repeat;
	padding: 20px 20px 20px 80px;
}	



.scroll {
	position: fixed;
	bottom: 10px;
	right: 10%;
    height: 80px;
    width: 80px;
    cursor: pointer;
    background: url("../images/scroll.png") no-repeat scroll center top transparent;

		-webkit-transition: all .3s ease-out;
		-moz-transition: all .3s ease-out;
		-ms-transition: all .3s ease-out; 
		-o-transition:  all .3s ease-out;  
		transition: all .3s ease-out;
}

.scroll:hover{
	background: url("../images/scroll.png") bottom center no-repeat;
}


.col50{
	display: inline-block;
	width: 48%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.left{ float: left; }
.right{ float: right; }

.col30{
	width: 30.3%;
}

.progress {
    height: 50px;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

    margin-bottom: 10px;
}

.progress .bar {
    height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	font-size: 1.5em;
	text-indent: 20px;
	text-align: left;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3p;
	-webkit-border-radius: 3px 0px 0px 3p;
}





/******************************************************

	$INDEX8 - PORTFOLIO
	
******************************************************/	

#filter a, #filter strong {
	margin: 0px;
	font-size: 1.2em;
	line-height: 2em;
	padding: 3px 5px;
	color : black;
}


#filter strong {
	font-weight: 500;
}



#filter a{
	font-weight: 300;
	cursor: pointer;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#filter {
	margin: 30px 0 0 0;
}


/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}


		
.grid {
	padding: 0px 0px 100px 0px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
}

.grid li {
	display: inline-block;
	margin: 0;
	margin: 0px auto;
	position: relative;
}


.grid li .project-subheader, .grid li .project-cta{
	color : black;
	font-size: 1.2em;
}





/******************************************************

	$INDEX11 - MEDIA QUERIES : TABLETS
	
******************************************************/	




/* TABLETS */
@media screen and (max-width: 1020px ) {
     

     p {
    	font-size : 1.4em;
    }

    .bio-photo {
    	max-height: 300px;
    	max-width: 300px;
    }

    .headerstandard .headerstandard-inner {
        width: 100%;
    }
 
    .headerstandard h1,
    .headerstandard nav.menustandard{ 	
        display: block;
        margin: 0 auto;
        text-align: center;
        float: none;
    }
 
    .headerstandard h1,
    .headerstandard nav.menustandard a {
        line-height: 115px;
    }
 
    .headerstandard nav.menustandard a {
        margin: 0 10px;
    }

	.headerstandard {
		height: 90px;
	}  
	
    .headerstandard h1,
    .headerstandard nav a {
        line-height: 45px;
    }
 
    .headerstandard h1 {
        font-size: 3em;	
		background: none;
		text-indent: 0px;
    }
 
    .headerstandard nav a {
        font-size: 1.2em;
    }

		
	
	#main h1{
		font-size: 3em;
		padding-top: 0px;
		margin-top: 0px;
	}

	#main .h1-subheader {
    font-size: 1.8em;
	margin: 0px 0px;
}

	#main h2{
		font-size: 2.1em;
	}


	#main h3{
		font-size: 1.7em;
	}


	#main hr{
		margin-top: 10px;
		margin-bottom: 10px;
	}
			
		
	#main .home h1{
		font-size: 3em;
		padding-top: 190px;
		line-height: 0.8em;
		height: 350px;
		margin: 20px auto;
		/*background: transparent url('../images/logo-medium.png') center center no-repeat;*/
	}
	
	#main .home h2{
		margin-top: -70px;
		font-family: Calibri, Arial, sans-serif;
		font-size: 2.5em;
	}
	.scroll {
		position: fixed;
		bottom: 10px;
		right: 0px;
	}
	 
	.col50{
		display: inline-block;
		width: 100%;
		margin-top: 1%;
		margin-bottom: 1%;
	}
	.left{ float: none; }
	.right{ float: none; }

	.col30{
		width: 100%;
	}

	.progress .bar {
		text-transform: none;
		font-size: 1.1em;
	}

}






/******************************************************

	$INDEX12 - MEDIA QUERIES : SMARTPHONES
	
******************************************************/	






/* SMARTPHONES */
@media screen and (max-width: 767px ) {
    .headerstandard {
        display: none;
    }

    p {
    	font-size : 1.2em;
    }

     .bio-photo {
    	max-height: 300px;
    	max-width: 300px;
    }

	
	
    header.headermobile  {
        display: block;
    }
	
	.menumobile{
		display: none;
		width: 100%;
	}
	
	
	
	#main h1{
		font-size: 2.5em;
		padding-top: 0px;
		margin-top: 0px;
	}

	#main .h1-subheader {
	    font-size: 1.5em;
		margin: 0px 0px;
	}

	#main h2{
		font-size: 1.6em;
	}
	
	
	#main .home h1{
		width: 80%;
		font-size: 2.8em;
		padding-top: 140px;
		line-height: 0.8em;
		height: 250px;
		margin: 20px auto;
		/*background: transparent url('../images/logo-small.png') center center no-repeat;*/
	}
	
	#main .home h2{
		margin-top: -20px;
		font-family: Calibri, Arial, sans-serif;
		font-size: 1.7em;
	}
	
	#filter{
		text-align: center;
		margin: 30px 0 0 0;
	}

	#filter a{
		font-size: 1em;
	}
 
 
	.scroll {
		position: fixed;
		top: 20px;
		right: 10px;
		float: right;
		height: 20px;
		width: 20px;
		background-image: url('../images/scroll-small.png');
		background-position: 0px 0px;
		z-index: 99999;
	} 
	.scroll:hover {
		background-image: url('../images/scroll-small.png');
		background-position: 0px -20px;
	}
}

